@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
p {
  font-family: "Roboto Mono", mono;
}

h1 {
  font-family: "DM sans", sans;
  font-size: xx-large;
  font-weight: 800;
}

h2 {
  font-family: "DM sans", sans;
  font-size: x-large;
  font-weight: 800;
}

@layer utilities {
  .blog-thumbnail-clip {
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
  }
}

html,
body,
#root {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  background-color: white;
}

/* Use dark class instead of media query */
html.dark,
html.dark body,
html.dark #root {
  background-color: black;
}
